.desktop {
    display: flex;
    //flex-direction: column;
    //position: absolute;
    //top: 30%;
    //left: 45%;
    justify-content: center;
    height: 100vh; //
    align-items: center;
}

.desktop-inner {
    display: inline-flex;
    flex-direction: column;
    align-content: stretch;
    //margin-top: 30%;
    
}

