<nav>
    <ul>
        <li style="--clr:#00ade1">
            <a href="#" data-text="&nbsp;Accueil">&nbsp;Accueil&nbsp;</a>
        </li>
        <li style="--clr:#ff6493">
            <a href="#" data-text="&nbsp;Rebelle">&nbsp;Rebelle&nbsp;</a>
        </li>
        <li style="--clr:#ffdd1c">
            <a href="#" data-text="&nbsp;Pilote">&nbsp;Pilote&nbsp;</a>
        </li>
        <li style="--clr:#00dc82">
            <a href="#" data-text="&nbsp;Chasseur">&nbsp;Chasseur&nbsp;</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
