input {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
    font-family: "starjedi";
}
