* {
  color: aliceblue;
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 2%;
}
option{
  color: #0E1538;
}
button {
  color: #0E1538;
  cursor: pointer;
}

label {
  color: aliceblue;
  margin: 20px;
  //display: inline-block;
  float: left;
  clear: left;
  width: 50px;
}

input {
  width: 200px;
  float: left;
  margin: 20px;
  color: #0E1538;
}
select {
  width: 200px;
  float: left;
  margin: 20px;
  color: #0E1538;
}


// declenche erreur quand la data dans l'input est invalide
.ng-invalid .ng-touched {
  border-color: red;
}

