<mat-card class="container">
  <mat-card-content >
    <div class="row box">
      <div class="col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Liste des pilotes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table *ngFor="let pilote of pilotes">
              <mat-radio-group [(ngModel)]="selectedPilote">
                <mat-radio-button [value]="pilote">{{pilote.nom}}</mat-radio-button>
              </mat-radio-group>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Liste des chasseurs</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table *ngFor="let chasseur of chasseurs">
              <mat-radio-group [(ngModel)]="selectedChasseur">
                <mat-radio-button [value]="chasseur">{{chasseur.name}}</mat-radio-button>
              </mat-radio-group>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row box">
      <div class="col-12">
        <app-button buttonText="Affecter" size="small" (click)="affecter()" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
