
<form [formGroup]="form" class="form-container">
    <div formGroupName="rebelle">
      <div class="input-field">
        <label>Nom</label>
        <input formControlName="nom" type="text">
      </div>
      <div class="input-field">
        <label>Prenom</label>
        <input formControlName="prenom" type="text">
      </div>
      <div class="input-field">
        <label>Race</label>
        <select [(ngModel)]="selectedRace" formControlName="race">
          <option *ngFor="let race of races" [value]="race">{{ race }}</option>
        </select>
      </div>
      <div class="input-field">
        <label>Age</label>
        <input formControlName="age" type="number">
      </div>
    </div>
    <app-button class="btn" buttonText="Inscrire" size="small" (click)="submit()"/>
</form>
