
<form [formGroup]="form" class="form-container">
  <div formGroupName="chasseur">
    <div class="input-field">
      <label>Nom</label>
      <input formControlName="name" type="text" placeholder="Tapez le nom">
    </div>
    <div class="input-field">
      <label>Type</label>
      <select formControlName="typeChasseur">
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="input-field">
      <label>Etat</label>
      <select formControlName="etatChasseur">
        <option *ngFor="let etat of etats" [value]="etat">{{ etat }}</option>
      </select>
    </div>
  </div>
  <app-button buttonText="Créer" size="small" (click)="submit()"/>
</form>

